USE [QLThueSan]
GO
/****** Object:  Table [dbo].[SAN]    Script Date: 03/18/2021 08:46:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SAN](
	[MaSan] [char](10) NOT NULL,
	[TinhTrang] [nvarchar](50) NULL,
	[GiaThue] [decimal](8, 2) NULL,
	[GhiChu] [nvarchar](max) NULL,
 CONSTRAINT [PK_SAN] PRIMARY KEY CLUSTERED 
(
	[MaSan] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 03/18/2021 08:46:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MaKH] [int] IDENTITY(1,1) NOT NULL,
	[TenKH] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](100) NULL,
	[SDT] [nvarchar](12) NULL,
	[GhiChu] [nvarchar](max) NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THUESAN]    Script Date: 03/18/2021 08:46:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[THUESAN](
	[MaKH] [int] NOT NULL,
	[MaSan] [char](10) NOT NULL,
	[NgayGioThue] [datetime] NOT NULL,
	[NgayGioTra] [datetime] NULL,
	[SotienThu] [decimal](8, 2) NULL,
	[GhiChu] [nvarchar](max) NULL,
 CONSTRAINT [PK_THUESAN] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC,
	[MaSan] ASC,
	[NgayGioThue] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  ForeignKey [FK_THUESAN_KHACHHANG]    Script Date: 03/18/2021 08:46:45 ******/
ALTER TABLE [dbo].[THUESAN]  WITH CHECK ADD  CONSTRAINT [FK_THUESAN_KHACHHANG] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KHACHHANG] ([MaKH])
GO
ALTER TABLE [dbo].[THUESAN] CHECK CONSTRAINT [FK_THUESAN_KHACHHANG]
GO
/****** Object:  ForeignKey [FK_THUESAN_SAN]    Script Date: 03/18/2021 08:46:45 ******/
ALTER TABLE [dbo].[THUESAN]  WITH CHECK ADD  CONSTRAINT [FK_THUESAN_SAN] FOREIGN KEY([MaSan])
REFERENCES [dbo].[SAN] ([MaSan])
GO
ALTER TABLE [dbo].[THUESAN] CHECK CONSTRAINT [FK_THUESAN_SAN]
GO
