USE [QLThueBangVideo]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 03/18/2021 08:47:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MaKH] [int] IDENTITY(1,1) NOT NULL,
	[TenKH] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](100) NULL,
	[SDT] [nvarchar](12) NULL,
	[TheLoaiYeuThich] [nvarchar](20) NULL,
	[GhiChu] [nvarchar](max) NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BANG]    Script Date: 03/18/2021 08:47:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BANG](
	[MaBang] [char](10) NOT NULL,
	[TenBang] [nvarchar](50) NULL,
	[NuocSX] [nvarchar](20) NULL,
	[GiaMuaVao] [decimal](18, 2) NULL,
	[GhiChu] [nvarchar](max) NULL,
 CONSTRAINT [PK_BANG] PRIMARY KEY CLUSTERED 
(
	[MaBang] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[THUEBANG]    Script Date: 03/18/2021 08:47:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[THUEBANG](
	[MaKH] [int] NOT NULL,
	[MaBang] [char](10) NOT NULL,
	[NgayTra] [datetime] NULL,
	[SoTienThu] [decimal](8, 2) NULL,
	[GhiChu] [nvarchar](max) NULL,
	[NgayThue] [datetime] NOT NULL,
 CONSTRAINT [PK_THUEBANG] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC,
	[MaBang] ASC,
	[NgayThue] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  ForeignKey [FK_THUEBANG_BANG]    Script Date: 03/18/2021 08:47:19 ******/
ALTER TABLE [dbo].[THUEBANG]  WITH CHECK ADD  CONSTRAINT [FK_THUEBANG_BANG] FOREIGN KEY([MaBang])
REFERENCES [dbo].[BANG] ([MaBang])
GO
ALTER TABLE [dbo].[THUEBANG] CHECK CONSTRAINT [FK_THUEBANG_BANG]
GO
/****** Object:  ForeignKey [FK_THUEBANG_KHACHHANG]    Script Date: 03/18/2021 08:47:19 ******/
ALTER TABLE [dbo].[THUEBANG]  WITH CHECK ADD  CONSTRAINT [FK_THUEBANG_KHACHHANG] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KHACHHANG] ([MaKH])
GO
ALTER TABLE [dbo].[THUEBANG] CHECK CONSTRAINT [FK_THUEBANG_KHACHHANG]
GO
