USE [QLNhanSu]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 03/25/2021 08:25:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MaNV] [char](10) NOT NULL,
	[BangCap] [nvarchar](50) NULL,
	[TenNV] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](max) NULL,
	[NamSinh] [datetime] NULL,
	[ChucVu] [nvarchar](50) NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DUAN]    Script Date: 03/25/2021 08:25:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DUAN](
	[MaDA] [char](10) NOT NULL,
	[TenDA] [nvarchar](50) NULL,
	[NgayDuKienBatDau] [datetime] NOT NULL,
	[NgayBatDau] [datetime] NULL,
	[NgayDuKienKetThuc] [datetime] NULL,
	[NgayKetThuc] [datetime] NULL,
	[GhiChu] [nvarchar](max) NULL,
 CONSTRAINT [PK_DUAN_1] PRIMARY KEY CLUSTERED 
(
	[MaDA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHANVIEN_THAMGIA_DUAN]    Script Date: 03/25/2021 08:25:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHANVIEN_THAMGIA_DUAN](
	[MaNV] [char](10) NOT NULL,
	[MaDA] [char](10) NOT NULL,
	[NgayBatDauThamGia] [datetime] NOT NULL,
	[NgayKetThuc] [datetime] NULL,
	[NgayBatDauNghi] [datetime] NULL,
	[NgayQuayTroLai] [datetime] NULL,
 CONSTRAINT [PK_NHANVIEN_THAMGIA_DUAN] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC,
	[MaDA] ASC,
	[NgayBatDauThamGia] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  ForeignKey [FK_NHANVIEN_THAMGIA_DUAN_DUAN]    Script Date: 03/25/2021 08:25:47 ******/
ALTER TABLE [dbo].[NHANVIEN_THAMGIA_DUAN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_THAMGIA_DUAN_DUAN] FOREIGN KEY([MaDA])
REFERENCES [dbo].[DUAN] ([MaDA])
GO
ALTER TABLE [dbo].[NHANVIEN_THAMGIA_DUAN] CHECK CONSTRAINT [FK_NHANVIEN_THAMGIA_DUAN_DUAN]
GO
/****** Object:  ForeignKey [FK_NHANVIEN_THAMGIA_DUAN_NHANVIEN]    Script Date: 03/25/2021 08:25:47 ******/
ALTER TABLE [dbo].[NHANVIEN_THAMGIA_DUAN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_THAMGIA_DUAN_NHANVIEN] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHANVIEN] ([MaNV])
GO
ALTER TABLE [dbo].[NHANVIEN_THAMGIA_DUAN] CHECK CONSTRAINT [FK_NHANVIEN_THAMGIA_DUAN_NHANVIEN]
GO
