USE [QLBanHang]
GO
/****** Object:  Table [dbo].[NHOM]    Script Date: 03/25/2021 08:27:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHOM](
	[MA_NHOM] [char](10) NOT NULL,
	[TEN_NHOM] [nvarchar](50) NULL,
 CONSTRAINT [PK_NHOM] PRIMARY KEY CLUSTERED 
(
	[MA_NHOM] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHACH_HANG]    Script Date: 03/25/2021 08:27:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHACH_HANG](
	[MA_KH] [char](10) NOT NULL,
	[HOTEN_KH] [nvarchar](50) NULL,
	[DIACHI_KH] [nvarchar](max) NULL,
	[PHONE_KH] [numeric](12, 0) NULL,
 CONSTRAINT [PK_KHACH_HANG] PRIMARY KEY CLUSTERED 
(
	[MA_KH] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HOA_DON]    Script Date: 03/25/2021 08:27:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOA_DON](
	[MA_HD] [char](10) NOT NULL,
	[MA_KH] [char](10) NOT NULL,
	[NGLAP_HD] [datetime] NULL,
	[NGBAN_HD] [datetime] NULL,
 CONSTRAINT [PK_HOA_DON_1] PRIMARY KEY CLUSTERED 
(
	[MA_HD] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HANG]    Script Date: 03/25/2021 08:27:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HANG](
	[MA_HANG] [char](10) NOT NULL,
	[MA_NHOM] [char](10) NULL,
	[TEN_HANG] [nvarchar](50) NULL,
	[DG_HANG] [numeric](18, 2) NULL,
	[DV_HANG] [nvarchar](50) NULL,
 CONSTRAINT [PK_HANG] PRIMARY KEY CLUSTERED 
(
	[MA_HANG] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CHITIET_HOA_DON]    Script Date: 03/25/2021 08:27:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHITIET_HOA_DON](
	[MA_HD] [char](10) NOT NULL,
	[MA_HANG] [char](10) NOT NULL,
	[SO_LUONG] [numeric](18, 0) NULL,
 CONSTRAINT [PK_CHITIET_HOA_DON] PRIMARY KEY CLUSTERED 
(
	[MA_HD] ASC,
	[MA_HANG] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  ForeignKey [FK_CHITIET_HOA_DON_HANG]    Script Date: 03/25/2021 08:27:21 ******/
ALTER TABLE [dbo].[CHITIET_HOA_DON]  WITH CHECK ADD  CONSTRAINT [FK_CHITIET_HOA_DON_HANG] FOREIGN KEY([MA_HANG])
REFERENCES [dbo].[HANG] ([MA_HANG])
GO
ALTER TABLE [dbo].[CHITIET_HOA_DON] CHECK CONSTRAINT [FK_CHITIET_HOA_DON_HANG]
GO
/****** Object:  ForeignKey [FK_CHITIET_HOA_DON_HOA_DON]    Script Date: 03/25/2021 08:27:21 ******/
ALTER TABLE [dbo].[CHITIET_HOA_DON]  WITH CHECK ADD  CONSTRAINT [FK_CHITIET_HOA_DON_HOA_DON] FOREIGN KEY([MA_HD])
REFERENCES [dbo].[HOA_DON] ([MA_HD])
GO
ALTER TABLE [dbo].[CHITIET_HOA_DON] CHECK CONSTRAINT [FK_CHITIET_HOA_DON_HOA_DON]
GO
/****** Object:  ForeignKey [FK_HANG_NHOM]    Script Date: 03/25/2021 08:27:21 ******/
ALTER TABLE [dbo].[HANG]  WITH CHECK ADD  CONSTRAINT [FK_HANG_NHOM] FOREIGN KEY([MA_NHOM])
REFERENCES [dbo].[NHOM] ([MA_NHOM])
GO
ALTER TABLE [dbo].[HANG] CHECK CONSTRAINT [FK_HANG_NHOM]
GO
/****** Object:  ForeignKey [FK_HOA_DON_KHACH_HANG]    Script Date: 03/25/2021 08:27:21 ******/
ALTER TABLE [dbo].[HOA_DON]  WITH CHECK ADD  CONSTRAINT [FK_HOA_DON_KHACH_HANG] FOREIGN KEY([MA_KH])
REFERENCES [dbo].[KHACH_HANG] ([MA_KH])
GO
ALTER TABLE [dbo].[HOA_DON] CHECK CONSTRAINT [FK_HOA_DON_KHACH_HANG]
GO
